manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
      # JIS-US変換でこれにしないといけなかった
    - name: kot149
      url-base: https://github.com/kot149
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
      # JIS-US変換用にパッチ追加
    - name: zmk-layout-shift
      remote: kot149
      revision: v1
  self:
    path: config
